
.card-img, .card-img-bottom, .card-img-top {
    height:60px;
    width:60px;
}
.btn.btn-success{
    margin-bottom: 1rem;
  
}

.card{
   max-width: 540px
}

.cardButton{
    background-color:#005C46
}
