.BookInfo{
 margin-left: 5rem;
}

.detailButton{
    background-color: #009B77;
    color:white;
    border:#009B77;
}
.detailButton:hover{
    background-color:#005C46
}

.checkinButton{
    background-color: #008F5A;
    color:white;
    border:#008F5A;
    align-items: left;

}

.checkinButton:hover{
    background-color: #005C46;
    color:white;
}

.checkoutButton{
    background-color: #A81E00;
    color:white;
    border:#A81E00;
    align-items: left;

}

.checkoutButton:hover{
    background-color: #5C1100;
    color:white;
}